main{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    text-align: center;
}
.css-button-sliding-to-left--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 15px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #57cc99;
    color: #57cc99;
}
.css-button-sliding-to-left--green:hover {
    color: #fff;
}
.css-button-sliding-to-left--green:hover:after {
    width: 100%;
}
.css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #57cc99;
}

img.logo{
    width: 50px;
    display: center;

}
h1.title {
    color: white;
    text-align: center;
}
h1{
    text-align: center;
}
.comida{
    align-items:center ;
    display: flex;
    place-content: block;

}
.food{
    margin-right: 40px;
    line-height: 100%;
    width: 500px;
}
span{
    font-size: 50px;
    line-height: 100%;
}
@media (min-width: 600px){
    main{
        flex-wrap: nowrap;
    }
    div{
        flex-basis: 33%;
    }
}