header{
    background-color: #7ed957;
    margin: auto;
}
img.logo{
    width: 50px;
    display: center;

}
h1.title {
    color: white;
    text-align: center;
}
h1{
    text-align: center;
}
.food{
    width: 400px;
    vertical-align: middle;
}