@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');
main{
    display: flex;
    flex-wrap: wrap;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*menu*/
::selection{
    color: #000;
    background:#fff;
}
nav {
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    max-width: 12000px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 40px;
    margin-right: 45px;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;

}
.nav-menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding:  0 20px;
}
.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}
.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600px;
}
.nav-menu li a.activate,
.nav-menu li a:hover{
    color: #9900ff;
    transition: 0.4s;
}
#check{
    display: none;

}
#check:checked ~.nav-menu{
    height: 100vh;


}
#check:checked ~.nav-menu li{
    display: block;
}
.banner-text{
    padding-top: 10px;
    text-align: center;
}
.banner-text h1{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.banner-text p{
    color: #fff;
    font-size: 18px;
    padding: 30px;

}
.btn-a {
    display: inline-block;
    background-color: #9900ff;
    margin-top: 30px;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;

}
.btn-a :hover{
    background-color: rgb(138, 130, 119);
}

@media (min-width:768px) {
    .logo{
        margin-left: 0;
    }
    header {
        height: 100px;
        margin: 0 auto;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a{
        font-size: 18px;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-text{
        padding-top: 250px;
    }
    .banner-text h1{
        font-size: 55px;
    }
    .banner-text p{
        padding: 30px 200px;
    }

}

.food{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    padding-top: 85px;
}
.carrusel{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.image{
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0,5);
    display: flex;

}
span{
    margin: auto;
    font-size: 2rem;
}
@keyframes rotate360{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}
.image:nth-child(1){
    background-image: url("/MVC/view/images/china.png");
    transform: rotateY(0deg) translateZ(430px);

}
.image:nth-child(2){
    background-image: url("/MVC/view/images/paisa.png");
    transform: rotateY(40deg) translateZ(430px);

}
.image:nth-child(3){
    background-image: url("/MVC/view/images/japonesa.png");
    transform: rotateY(80deg) translateZ(430px);
}
.image:nth-child(4){
    background-image: url("/MVC/view/images/mexicana.png");
    transform: rotateY(120deg) translateZ(430px);

}
.image:nth-child(5){
    background-image: url("/MVC/view/images/ramen.png");
    transform: rotateY(160deg) translateZ(430px);

}
.image:nth-child(6){
    background-image: url("/MVC/view/images/india.png");
    transform: rotateY(200deg) translateZ(430px);    
}
.image:nth-child(7){
    background-image: url("/MVC/view/images/fondo-nav.png");
    transform: rotateY(240deg) translateZ(430px);

}
.image:nth-child(8){
    background-image: url("/MVC/view/images/fondo.png");
    transform: rotateY(280deg) translateZ(430px);

}
.image:nth-child(9){
    background-image: url("/MVC/view/images/World\ Food.jpg");
    transform: rotateY(320deg) translateZ(430px);

}
.image:nth-child(10){
    background-image: url("/MVC/view/images/paisa.png");
    transform: rotateY(360deg) translateZ(430px);

}
footer{
    margin-top: 100%;
    position: relative;
    width: 100%;
    background: #358698;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer .social_icon,
footer .fmenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}
footer .social_icon li,
footer .fmenu li {
    list-style: none;

}
footer .social_icon li a{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .fmenu li a{
    font-size: 1.2rem;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url(/MVC/view/images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;

}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
    
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animateWave 3s linear infinite;
    
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
    
}
@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@media (min-width: 600px){
    main{
        flex-wrap: nowrap;
    }
    div{
        flex-basis: 33%;
    }
}